main {
    padding: 20px calc((100vw - 1280px) / 2);
}

.checkout-greeting-main {
    font-size: 40px;
    font-weight: 800;

    color: green;
}

.checkout-greeting-sub {
    font-size: 20px;
    font-weight: 600;

    color: lightgray;
}

.order-header {
    font-size: 20px;
    font-weight: 600;

    color: green;

    margin-top: 20px;
    padding: 10px;

    background-color: var(--text-bright-color);

    border: 1px solid lightgray;
    border-top: 10px solid green;
    border-bottom: 1px solid green;
    border-top-left-radius: var(--card-border-size);
    border-top-right-radius: var(--card-border-size);
}

.order-content {
    display: flex;
    flex-direction: column;
}

.order-item {
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.order-item-image {
    width: 200px;
    height: 100%;

    padding: 20px;
}

.order-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-left: 1px solid lightgray;

    padding: 0 20px;
}

.order-item-unit-name {
    font-size: 20px;
    font-weight: 600;

    color: var(--main-color);
}

.order-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding: 10px 30px;

    background-color: var(--text-bright-color);
    border-bottom-left-radius: var(--card-border-size);
    border-bottom-right-radius: var(--card-border-size);

    border-bottom: 10px solid green;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid green;
}

.order-footer-title {

    margin-left: 20px;
}

.order-footer-value {
    font-weight: 600;

    margin-left: 5px;

    color: green;
}

.redirect-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;

}

.redirect-button {
    box-sizing: border-box;

    text-decoration: none;

    margin: 20px;
    padding: 20px;

    background-color: var(--secondary-color);
    color: white;

    font-size: 15;
    font-weight: 600;

    cursor: pointer;

    border-radius: var(--card-border-size);
}

.redirect-button:hover {
    background-color: var(--secondary-color-darker);
}