@media (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: transparent;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
  }
  
  #backToTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--text-bright-color);
    background-color: var(--main-color-darker);
    text-decoration: none;
  }
  
  #backToTop:hover {
    background-color: var(--main-color-medium-dark);
  }
  
  #footerFirstSection {
    display: flex;
    flex-direction: column;
    padding: 0 calc((100vw - 1280px) / 2) 20px;
    background-color: var(--main-color);
    height: auto;
    justify-content: center;
  }
  
  #footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    margin: 0 10px 0 10px;
  }
  
  .footerMenuTitle {
    color: var(--text-bright-color);
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
    white-space: nowrap;
  }
  
  .footerMenuOption {
    display: none;
    color: var(--text-bright-color);
    padding-top: 25px;
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
  }
  
  .footerMenuOption:hover {
    color: var(--secondary-color);
  }
  
  #footerSecondSection {
    padding: 0 calc((100vw - 1280px) / 2);
    background-color: var(--secondary-color);
    height: auto;
  }
  
  #footerSecondSectionUp {
    display: flex;
    flex-direction: row;
  }
  
  #footerLogo {
    background-image: url(../images/logos/pet-store-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 56px;
    min-width: 150px;
  }
  
  #footerAccessibiltyHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 880px;
  }
  
  #accessibilityIcon {
    background-image: url(../images/icons/accessibilty-icon.svg);
  }
  
  #accessibilityButton {
    display: none;
    text-align: center;
    color: var(--text-bright-color);
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0 20px 0;
  }
  
  #socialMediaFooterHolder {
    display: flex;
    flex-direction: row;
  }
  
  .socialMediaIcon {
    width: 25px;
    height: 25px;
    margin: 15px;
    background-size: cover;
    background-position: center;
  }
  
  #facebookIcon {
   background-image: url(../images/icons/facebook-icon.svg);
  }
  
  #instagramIcon {
    background-image: url(../images/icons/instagram-icon.svg);
  }
  
  #twitterIcon {
    background-image: url(../images/icons/twitter-icon.svg);
  }
  
  #whatsappIcon {
    display: none;
    background-image: url(../images/icons/whatsapp-icon.svg);
  }
  
  #footerUnderline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    color: var(--text-bright-color);
    font-size: 12px;
    font-weight: 300;
    padding: 10px 10px;
    border-top: 1px var(--text-bright-color) solid;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: transparent;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
  }
  
  #backToTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--text-bright-color);
    background-color: var(--main-color-darker);
    text-decoration: none;
  }
  
  #backToTop:hover {
    background-color: var(--main-color-medium-dark);
  }
  
  #footerFirstSection {
    display: flex;
    flex-direction: column;
    padding: 0 calc((100vw - 1280px) / 2) 20px;
    background-color: var(--main-color);
    height: auto;
    justify-content: center;
  }
  
  #footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    margin: 0 10px 0 10px;
  }
  
  .footerMenuTitle {
    color: var(--text-bright-color);
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
    white-space: nowrap;
  }
  
  .footerMenuOption {
    display: none;
    color: var(--text-bright-color);
    padding-top: 25px;
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
  }
  
  .footerMenuOption:hover {
    color: var(--secondary-color);
  }
  
  #footerSecondSection {
    padding: 0 calc((100vw - 1280px) / 2);
    background-color: var(--secondary-color);
    height: auto;
  }
  
  #footerSecondSectionUp {
    display: flex;
    flex-direction: row;
  }
  
  #footerLogo {
    background-image: url(../images/logos/pet-store-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 56px;
    width: 200px;
    min-width: 200px;
  }
  
  #footerAccessibiltyHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 880px;
  }
  
  #accessibilityIcon {
    background-image: url(../images/icons/accessibilty-icon.svg);
  }
  
  #accessibilityButton {
    display: none;
    text-align: center;
    color: var(--text-bright-color);
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0 20px 0;
  }
  
  #socialMediaFooterHolder {
    display: flex;
    flex-direction: row;
  }
  
  .socialMediaIcon {
    width: 25px;
    height: 25px;
    margin: 15px;
    background-size: cover;
    background-position: center;
  }
  
  #facebookIcon {
   background-image: url(../images/icons/facebook-icon.svg);
  }
  
  #instagramIcon {
    background-image: url(../images/icons/instagram-icon.svg);
  }
  
  #twitterIcon {
    background-image: url(../images/icons/twitter-icon.svg);
  }
  
  #whatsappIcon {
    display: none;
    background-image: url(../images/icons/whatsapp-icon.svg);
  }
  
  #footerUnderline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    color: var(--text-bright-color);
    font-size: 12px;
    font-weight: 300;
    padding: 10px 10px;
    border-top: 1px var(--text-bright-color) solid;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: transparent;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
  }
  
  #backToTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--text-bright-color);
    background-color: var(--main-color-darker);
    text-decoration: none;
  }
  
  #backToTop:hover {
    background-color: var(--main-color-medium-dark);
  }
  
  #footerFirstSection {
    display: flex;
    flex-direction: column;
    padding: 0 calc((100vw - 1280px) / 2) 20px;
    background-color: var(--main-color);
    height: auto;
    justify-content: center;
  }
  
  #footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    margin: 0 10px 0 10px;
  }
  
  .footerMenuTitle {
    color: var(--text-bright-color);
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
    white-space: nowrap;
  }
  
  .footerMenuOption {
    display: none;
    color: var(--text-bright-color);
    padding-top: 25px;
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
  }
  
  .footerMenuOption:hover {
    color: var(--secondary-color);
  }
  
  #footerSecondSection {
    padding: 0 calc((100vw - 1280px) / 2);
    background-color: var(--secondary-color);
    height: 100px;
  }
  
  #footerSecondSectionUp {
    display: flex;
    flex-direction: row;
  }
  
  #footerLogo {
    background-image: url(../images/logos/pet-store-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 56px;
    width: 200px;
    min-width: 200px;
  }
  
  #footerAccessibiltyHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 880px;
  }
  
  #accessibilityIcon {
    background-image: url(../images/icons/accessibilty-icon.svg);
  }
  
  #accessibilityButton {
    text-align: center;
    color: var(--text-bright-color);
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0 20px 0;
  }
  
  #socialMediaFooterHolder {
    display: flex;
    flex-direction: row;
  }
  
  .socialMediaIcon {
    width: 25px;
    height: 25px;
    margin: 15px;
    background-size: cover;
    background-position: center;
  }
  
  #facebookIcon {
   background-image: url(../images/icons/facebook-icon.svg);
  }
  
  #instagramIcon {
    background-image: url(../images/icons/instagram-icon.svg);
  }
  
  #twitterIcon {
    background-image: url(../images/icons/twitter-icon.svg);
  }
  
  #whatsappIcon {
    display: none;
    background-image: url(../images/icons/whatsapp-icon.svg);
  }
  
  #footerUnderline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-bright-color);
    font-size: 12px;
    font-weight: 300;
    padding-top: 10px;
    border-top: 1px var(--text-bright-color) solid;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: transparent;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
  }
  
  #backToTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--text-bright-color);
    background-color: var(--main-color-darker);
    text-decoration: none;
  }
  
  #backToTop:hover {
    background-color: var(--main-color-medium-dark);
  }
  
  #footerFirstSection {
    display: flex;
    flex-direction: row;
    padding: 0 calc((100vw - 1280px) / 2);
    background-color: var(--main-color);
    height: 300px;
    justify-content: center;
  }
  
  #footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    margin: 0 10px 0 10px;
  }
  
  .footerMenuTitle {
    color: var(--text-bright-color);
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
    white-space: nowrap;
  }
  
  .footerMenuOption {
    color: var(--text-bright-color);
    padding-top: 25px;
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
  }
  
  .footerMenuOption:hover {
    color: var(--secondary-color);
  }
  
  #footerSecondSection {
    padding: 0 calc((100vw - 1280px) / 2);
    background-color: var(--secondary-color);
    height: 100px;
  }
  
  #footerSecondSectionUp {
    display: flex;
    flex-direction: row;
  }
  
  #footerLogo {
    background-image: url(../images/logos/pet-store-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 56px;
    width: 200px;
    min-width: 200px;
  }
  
  #footerAccessibiltyHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 880px;
  }
  
  #accessibilityIcon {
    background-image: url(../images/icons/accessibilty-icon.svg);
  }
  
  #accessibilityButton {
    text-align: center;
    color: var(--text-bright-color);
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0 20px 0;
  }
  
  #socialMediaFooterHolder {
    display: flex;
    flex-direction: row;
  }
  
  .socialMediaIcon {
    width: 25px;
    height: 25px;
    margin: 15px;
    background-size: cover;
    background-position: center;
  }
  
  #facebookIcon {
   background-image: url(../images/icons/facebook-icon.svg);
  }
  
  #instagramIcon {
    background-image: url(../images/icons/instagram-icon.svg);
  }
  
  #twitterIcon {
    background-image: url(../images/icons/twitter-icon.svg);
  }
  
  #whatsappIcon {
    display: none;
    background-image: url(../images/icons/whatsapp-icon.svg);
  }
  
  #footerUnderline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-bright-color);
    font-size: 12px;
    font-weight: 300;
    padding-top: 10px;
    border-top: 1px var(--text-bright-color) solid;
  }
}

@media (min-width: 1281px) {
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: transparent;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
  }
  
  #backToTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--text-bright-color);
    background-color: var(--main-color-darker);
    text-decoration: none;
  }
  
  #backToTop:hover {
    background-color: var(--main-color-medium-dark);
  }
  
  #footerFirstSection {
    display: flex;
    flex-direction: row;
    padding: 0 calc((100vw - 1280px) / 2);
    background-color: var(--main-color);
    height: 300px;
    justify-content: center;
  }
  
  #footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    margin: 0 10px 0 10px;
  }
  
  .footerMenuTitle {
    color: var(--text-bright-color);
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
    white-space: nowrap;
    cursor: default;
  }
  
  .footerMenuOption {
    color: var(--text-bright-color);
    padding-top: 25px;
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .footerMenuOption:hover {
    font-weight: 800;
    border-bottom: 2px solid var(--text-bright-color);
  }
  
  #footerSecondSection {
    padding: 0 calc((100vw - 1280px) / 2);
    background-color: var(--secondary-color);
    height: 100px;
  }
  
  #footerSecondSectionUp {
    display: flex;
    flex-direction: row;
  }
  
  #footerLogo {
    background-image: url(../images/logos/pet-store-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 56px;
    width: 200px;
    min-width: 200px;
  }
  
  #footerAccessibiltyHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 880px;
    cursor: pointer;
  }

  #footerAccessibiltyHolder:hover {
    background-color: #d83d0a;
  }
  
  #accessibilityIcon {
    background-image: url(../images/icons/accessibilty-icon.svg);
  }
  
  #accessibilityButton {
    text-align: center;
    color: var(--text-bright-color);
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0 20px 0;
  }
  
  #socialMediaFooterHolder {
    display: flex;
    flex-direction: row;
  }
  
  .socialMediaIcon {
    width: 25px;
    height: 25px;
    margin: 15px;
    background-size: cover;
    background-position: center;
  }
  
  #facebookIcon {
   background-image: url(../images/icons/facebook-icon.svg);
  }
  
  #instagramIcon {
    background-image: url(../images/icons/instagram-icon.svg);
  }
  
  #twitterIcon {
    background-image: url(../images/icons/twitter-icon.svg);
  }
  
  #whatsappIcon {
    display: none;
    background-image: url(../images/icons/whatsapp-icon.svg);
  }
  
  #footerUnderline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-bright-color);
    font-size: 12px;
    font-weight: 300;
    padding-top: 10px;
    border-top: 1px var(--text-bright-color) solid;
  }
}
