* {
  margin: 0px;
  padding: 0px;
  border: 0px solid red;
  font-family: 'Lexend', sans-serif;
}

:root {
  --main-color: #3CACF6;
  --secondary-color: #FF470A;
  --text-bright-color: #FBFEF9;
  --text-dark-color: #000000;
  --card-border-size: 10px;
  --big-border-size: 15px;
}