@media (max-width: 430px) {
  .menu {
    flex-direction: column;
  }
  
  #logo {
    margin: 5px 0 0 0;
  }
  
  #searchBar {
    width: 90%;
    margin: 5px 0 5px 0;
  }

  #infoHolder {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 0;
  }
  
  #login {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  
  #profileSection {
    display: none;
  }
  
  #cart {
    justify-content: center;
    width: 50%;
  }

  #cartButtonHolder {
    display: none;
  }
  
  #headerSecondSection {
    display: none;
  }

  #headerThirdSection {
    background-color: var(--main-color);
  }
  
  #thirdSectionLeftSide {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  #thirdSectionRightSide {
    display: none;
  }

  .thirdMenuButton {
    color: var(--secondary-color);
  }
}

@media (min-width: 430px) and (max-width:1000px) {
  .menu {
    flex-direction: row;
  }
  
  #headerFirstSection {
    height: 100px;
  }
  
  #searchBar {
    width: 53%;
  }
  
  #searchButton:hover {
    background-color: #FFD8BE;
  }
  
  #login {
    justify-content: center;
    align-items: center;
    width: 56px;
    min-width: 56px;
    height: 56px;
    margin: 0 30px 0 30px;
  }
  
  #profileSection {
    display: none;
  }
  
  #cart {
    width: 56px;
    min-width: 56px;
    margin: 0 30px 0 0;
  }

  #cartButtonHolder {
    display: none;
  }
  
  #headerSecondSection {
    background-color: var(--main-color);
    height: 36px;
    padding: 0px calc((100vw - 1320px) / 2) 5px;
  }
  
  #secondSectionLeftSide {
    width: 256px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }
  
  #locationPin {
    background-image: url(../images/icons/location-pin-icon.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 30px;
    margin-right: 10px;
  }
  
  #secondSectionRightSide {
    display: flex;
    flex-direction: row-reverse;
    width: 1024px;
  }
  
  #headerThirdSection {
    height: 48px;
  }
  
  #thirdSectionLeftSide {
    width: 70%;
  }
  
  #thirdSectionRightSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    padding-right: 20px;
  }

  .thirdMenuButton {
    color: var(--main-color);
  }
}

@media (min-width:1000px) {
  
  .menu {
    flex-direction: row;
  }
  
  #headerFirstSection {
    height: 100px;
    padding: 0 calc((100vw - 1320px) / 2);
  }
  
  #searchBar {
    width: 53%;
  }
  
  #login {
    width: 200px;
    min-width: 200px;
    height: 56px;
    padding: 0 0 0 20px;
  }

  #profileSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  #userGreeting {
    padding: 0 0 0 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
  
  #accountAccess {
    padding: 0 0 0 5px;
    font-size: 12px;
    font-weight: 300;
    color: white;
  }
  
  #cart {
    width: 150px;
    min-width: 150px;
    padding: 0 25px 0 25px;
  }

  #cartButtonHolder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  #cartButton1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 30%;
    width: auto;
    color: white;
    font-size: 10px;
    background-color: #9381FF;
    padding: 0 0 0 10px;
  }
  
  #cartButton2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70%;
    width: auto;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #9381FF;
    padding: 0 0 0 10px;
  }
  
  #headerSecondSection {
    background-color: var(--main-color);
    height: 36px;
    padding: 0px calc((100vw - 1320px) / 2) 5px;
  }
  
  #secondSectionLeftSide {
    width: 256px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }
  
  #locationPin {
    background-image: url(../images/icons/location-pin-icon.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 30px;
    margin-right: 10px;
  }
  
  #secondSectionRightSide {
    display: flex;
    flex-direction: row-reverse;
    width: 1024px;
  }
  
  #headerThirdSection {
    height: 48px;
    padding: 0 calc((100vw - 1320px) / 2);
  }
  
  #thirdSectionLeftSide {
    width: 70%;
  }
  
  #thirdSectionRightSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    padding-right: 20px;
  }

  .thirdMenuButton {
    color: var(--main-color);
  }
}

header {
  position: relative;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 3px 5px gray;
}

.menu {
  display: flex;
  align-items: center;
}

.firstMenuButton {
  margin: 0 20px 0 0;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: var(--secondary-color);
}

.secondMenuButton {
  margin: 0 20px 0 0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: var(--secondary-color);
}

.thirdMenuButton {
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
}

#headerFirstSection {
  background-color: var(--main-color);
}

#logo {
  background-image: url(../images/logos/main-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 56px;
  width: 250px;
  min-width: 250px;
}

#searchBar {
  height: 56px;
}

#searchBarForm {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  height: 56px;
  border-radius: var(--card-border-size);
}

#searchBarArea {
  background-color: var(--secondary-color);
  color: gray;
  font-size: 15px;
  padding: 0 0 0 15px;
  height: 100%;
  width: calc(100% - 60px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid var(--main-color);
}

#searchBarArea:focus {
  outline: none;
}

#searchButton {
  background-image: url(../images/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--secondary-color);
  height: 100%;
  width: 60px;
  border-top-right-radius: var(--card-border-size);
  border-bottom-right-radius: var(--card-border-size);
}

#searchButton:hover {
  background-color: var(--highlight-color);
}

#infoHolder {
  display: flex;
  display: row;
}

#login {
  display: flex;
  flex-direction: row;
}

#userPhoto {
  background-image: url(../images/profile/pp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 56px;
  width: 56px;
  border-radius: 28px;
}

#userEmptyPhoto {
  background-color: black;
  height: 56px;
  width: 56px;
  border-radius: 28px;
}

#cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

#cartCounter {
  width: 56px;
  height: 56px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#thirdSectionLeftSide {
  display: flex;
  flex-direction: row;
}
