@media (max-width: 480px) {
  .menu {
    flex-direction: column;
  }
  
  #logo {
    margin: 5px 0 0 0;
  }
  
  #searchBar {
    width: 90%;
    margin: 5px 0 5px 0;
  }

  #infoHolder {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 0;
  }
  
  #login {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  
  #profileSection {
    display: none;
  }
  
  #cart {
    justify-content: center;
    width: 50%;
  }

  #cartButtonHolder {
    display: none;
  }
  
  #headerSecondSection {
    display: none;
  }

  #headerThirdSection {
    background-color: var(--main-color);
  }
  
  #thirdSectionLeftSide {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  #thirdSectionRightSide {
    display: none;
  }

  .thirdMenuButton {
    color: var(--secondary-color);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
  
  #logo {
    margin: 5px 0 0 0;
  }
  
  #searchBar {
    width: 90%;
    margin: 5px 0 5px 0;
  }

  #infoHolder {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 0;
  }
  
  #login {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  
  #profileSection {
    display: none;
  }
  
  #cart {
    justify-content: center;
    width: 50%;
  }

  #cartButtonHolder {
    display: none;
  }
  
  #headerSecondSection {
    display: none;
  }

  #headerThirdSection {
    background-color: var(--main-color);
  }
  
  #thirdSectionLeftSide {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  #thirdSectionRightSide {
    display: none;
  }

  .thirdMenuButton {
    color: var(--secondary-color);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .menu {
    flex-direction: row;
  }
  
  #headerFirstSection {
    height: 100px;
  }
  
  #searchBar {
    width: 53%;
  }
  
  #searchButton:hover {
    background-color: #FFD8BE;
  }
  
  #login {
    justify-content: center;
    align-items: center;
    width: 56px;
    min-width: 56px;
    height: 56px;
    margin: 0 30px 0 30px;
  }
  
  #profileSection {
    display: none;
  }
  
  #cart {
    width: 56px;
    min-width: 56px;
    margin: 0 30px 0 0;
  }
  
  #headerSecondSection {
    background-color: var(--main-color);
    height: 36px;
    padding: 0px calc((100vw - 1320px) / 2) 5px;
  }
  
  #secondSectionLeftSide {
    width: 256px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }
  
  #locationPin {
    background-image: url(../images/icons/location-pin-icon.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 30px;
    margin-right: 10px;
  }
  
  #secondSectionRightSide {
    display: flex;
    flex-direction: row-reverse;
    width: 1024px;
  }
  
  #headerThirdSection {
    height: 48px;
  }
  
  #thirdSectionLeftSide {
    width: 70%;
  }
  
  #thirdSectionRightSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    padding-right: 20px;
  }

  .thirdMenuButton {
    color: var(--main-color);
  }
}

@media (min-width: 1025px) {
  
  .menu {
    flex-direction: row;
  }
  
  #headerFirstSection {
    height: 100px;
    padding: 0 calc((100vw - 1320px) / 2);
  }
  
  #searchBar {
    width: 100%;
    margin-left: 15px;
  }
  
  #login {
    width: 200px;
    min-width: 200px;
    height: 56px;
    margin: 0 0 0 30px;
  }

  #profileSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5px;
    width: 150px;
    min-width: 150px;
  }
  
  #userGreeting {
    padding: 0 0 0 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-bright-color);
  }
  
  #accountAccess {
    padding: 0 0 0 5px;
    font-size: 12px;
    font-weight: 300;
    color: var(--text-bright-color);
  }

  #accountAccess:hover {
    color: var(--secondary-color);
    transition: 0.5s;
  }
  
  #cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-width: 150px;
    padding: 0 10px 0 0;
  }

  .headerOptionsIcon {
    width: 56px;
    height: 56px;
    margin: 0 0 0 15px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--card-border-size);
  }

  .headerOptionsIcon:hover {
    background-color: var(--secondary-color);
    fill: var(--main-color);
    transition: 0.5s;
  }
  
  #headerSecondSection {
    background-color: var(--main-color);
    height: auto;
    padding: 0px calc((100vw - 1320px) / 2) 10px calc((100vw - 1280px) / 2);
  }
  
  #secondSectionLeftSide {
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
    border-radius: var(--card-border-size);
  }

  #secondSectionLeftSide:hover {
    background-color: var(--secondary-color);
    transition: 0.5s;
  }
  
  #locationPin {
    background-image: url(../images/icons/location-pin-icon.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 30px;
    margin-right: 10px;
  }
  
  #secondSectionRightSide {
    display: flex;
    flex-direction: row-reverse;
    width: 1024px;
  }
  
  #headerThirdSection {
    width: 100%;
    height: 48px;
    padding: 0 calc((100vw - 1320px) / 2);
  }
  
  #thirdSectionLeftSide {
    width: 1015px;
  }
  
  #thirdSectionRightSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    border-radius: var(--card-border-size);
  }

  #thirdSectionRightSide:hover {
    background-color: var(--main-color);
    transition: 0.5s;
  }

  .thirdMenuButton {
    color: var(--main-color);
  }

  #promoIcon {
    width: 30px;
    background-image: url(../images/icons/promo-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

header {
  position: relative;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 3px 5px gray;
}

.menu {
  display: flex;
  align-items: center;
}

.firstMenuButton {
  margin: 0 20px 0 0;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: var(--secondary-color);
}

.secondMenuButton {
  margin: 0 20px 0 0;
  padding: 2px 5px;
  border-radius: var(--card-border-size);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: var(--text-bright-color);
}

.secondMenuButtonSpecial {
  padding: 2px 5px;
  border-radius: var(--card-border-size);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: var(--text-bright-color);
}

.secondMenuButton:hover {
  background-color: var(--secondary-color);
  transition: 0.5s;
}

.thirdMenuButton {
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  padding: 2px 5px;
  border-radius: var(--card-border-size);
  color: var(--text-bright-color);
}

.thirdMenuButtonSpecial {
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  padding: 2px 5px;
  border-radius: var(--card-border-size);
  color: var(--text-bright-color);
}

.thirdMenuButton:hover {
  background-color: var(--main-color);
  transition: 0.5s;
}

#headerFirstSection {
  background-color: var(--main-color);
}

#logo {
  background-image: url(../images/logos/pet-store-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 56px;
  width: 250px;
  min-width: 250px;
}

#searchBar {
  height: 56px;
}

#searchBarForm {
  display: flex;
  align-items: center;
  background-color: var(--text-bright-color);
  height: 56px;
  border-radius: var(--big-border-size);
}

#searchBarArea {
  background-color: var(--text-bright-color);
  color: gray;
  font-size: 15px;
  padding: 0 0 0 15px;
  height: 100%;
  width: calc(100% - 60px);
  border-top-left-radius: var(--big-border-size);
  border-bottom-left-radius: var(--big-border-size);
}

#searchBarArea:focus {
  outline: none;
}

#searchButton {
  background-image: url(../images/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-color: var(--text-bright-color);
  height: 100%;
  width: 60px;
  border-radius: var(--big-border-size);
}

#searchButton:hover {
  background-color: var(--secondary-color);
  background-image: url(../images/icons/search-icon-hover.svg);
  transition: 0.5s;
}

#infoHolder {
  display: flex;
  display: row;
}

#login {
  display: flex;
  flex-direction: row;
}

#userPhoto {
  background-image: url(../images/profile/pp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 56px;
  width: 56px;
  border-radius: 28px;
}

#userEmptyPhoto {
  background-color: black;
  height: 56px;
  width: 56px;
  border-radius: 28px;
}

#cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

#favoritesIcon {
  background-image: url(../images/icons/heart-icon.svg);
}

#notificationIcon {
  background-image: url(../images/icons/notification-icon.svg);
}

#cartIcon {
  background-image: url(../images/icons/cart-icon.svg);
}

#headerThirdSection {
  background-color: var(--secondary-color);
}

#thirdSectionLeftSide {
  display: flex;
  flex-direction: row;
}
