body {
    background-color: var(--main-color);
}

#loginLogoHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
}

#logo {
    width: 400px;
    height: 100%;
    background-image: url(../images/logos/pet-store-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#loginFormsHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 395px;
    background-color: var(--main-color);
}

form {
    background-color: var(--text-bright-color);
    padding: 0 20px 20px 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 3px 5px gray;
    margin-top: 10px;
}

input {
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 10px 0 10px;
    border: 5px solid var(--main-color);
}

input:focus {
    outline: none;
}

#loginButton {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    background-color: var(--main-color);
    color: var(--text-bright-color);
    font-size: 20px;
    font-weight: 600;
}

#forgotButton {
    background-color: transparent;
    margin-top: 15px;
    color: var(--main-color);
    width: 100%;
}

#signupButton {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    background-color: var(--secondary-color);
    color: var(--text-bright-color);
    font-size: 20px;
    font-weight: 600;
}