main {
    padding: 0 calc((100vw - 1280px) / 2);
}

p {
    color: rgb(255, 25, 25);
    align-items: flex-start;
}


.main-content{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 20px;
    width: 100%;
}


.main-container1{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: space-between; 
    height: 100%;
    width: 100%;
    margin: 5px;
    background-color: white;
    padding-top: 20px;

}


.content1-container2{   
    display: flex;
    justify-content: center;
    align-items: space-between; 
    flex-direction: column;
    height: 1000px;
    width: 250px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;

}


.filter-container3{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
    height: 180px;
    width: 200px;
    margin: 10px;
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 10px;
}


.filter1{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 30px;
    width: 150px;
    margin: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 10px;
}


.category-container3{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: 360px;
    width: 200px;
    margin: 10px;
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 10px;
}


.category1{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 30px;
    width: 150px;
    margin: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 10px;
}


.products-container3{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
    height: 360px;
    width: 200px;
    margin: 10px;
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 10px;
}


.products1{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 30px;
    width: 150px;
    margin: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 10px;
}


.content2-container2{   
    display: flex;
    justify-content: space-between;
    align-items: space-between; 
    height: 1000px;
    width: 1000px;
    background-color: white;
    border-radius: 10px;

}


.images1-container{
    display: flex;
    justify-content: space-between;
    align-items: space-between; 
    flex-direction: column;
    height: 1000px;
    width: 220px;
    background-color: white;
    border-radius: 10px;
}


.image-container3{
    display: flex;
    justify-content: space-around;
    align-items: space-around; 
    flex-direction: column;
    height: 300px;
    width: 200px;
    margin: 10px;
    background-color: white;
    box-shadow: 3px 3px 8px lightgray;
    border-radius: 10px;
}


.image1-container4{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 200px;
    width: 200px;
    background-color: white;
    box-shadow: 3px 3px 8px lightgray;
    border-radius: 10px;
}


.name1-container4{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100px;
    width: 200px;
    background-color: white;
    box-shadow: 3px 3px 8px lightgray;
    border-radius: 10px;

}