main {
    padding: 0 calc((100vw - 1280px) / 2);
}

.productSession {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 20px;
}

.productPathText {
    font-size: 15px;
    color: var(--main-color);
}

.productArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
}

.photosPreview {
    width: 160px;
    height: 550px;

    padding: 15px;

    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.photosPreview::-webkit-scrollbar {
    width: 12px;
    border-radius: 4px;
}

.photosPreview::-webkit-scrollbar-track {
    background-color: lightgray;
}

.photosPreview::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color);
}

.photosPreview::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

.previewImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: var(--card-border-size);
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
}

.previewImage:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.mainPhoto {
    width: 550px;
    height: 550px;
    margin-left: 20px;
    padding: 50px;
    border-radius: var(--card-border-size);
    background-color: white;
    border: 1px solid lightgray;
}

.infoHolder {
    width: 580px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.productTitle {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.productInfo {
    display: flex;
    flex-direction: row;
    padding: 10px 0 5px;
}

.productCode {
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding-right: 5px;
}

.productInfoWord {
    font-size: 15px;
    font-weight: 300;
    border-left: 2px solid grey;
    margin-left: 5px;
    padding-left: 5px;
    color: grey;
    cursor: pointer;
}

.productInfoWord:hover {
    color: var(--secondary-color);
}

.productRate {
    display: flex;
    flex-direction: row;
    padding: 5px 0 10px;
    border-bottom: 1px solid lightgray;
}

.productRating{
    display: flex;
    flex-direction: row;
}

.productStars {
    display: flex;
    flex-direction: row;
}

.filledRateStar {
    height: 20px;
    width: 20px;
    background-image: url(../images/icons/filled-star-icon.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.emptyRateStar {
    height: 20px;
    width: 20px;
    background-image: url(../images/icons/empty-star-icon.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.productRatingCount {
    padding: 0 5px;
}

.productStockInfo {
    border-left: 2px solid grey;
    padding-left: 5px;
    font-weight: 600;
    color: green;
}

.productOption {
    color: var(--secondary-color);
    padding: 2px 10px;
    background-color: var(--text-bright-color);
    width: 300px;
    margin-top: 20px;
    height: 50px;
    border-radius: var(--card-border-size);
    border: 1px solid lightgray;
}

.priceArea {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 10px;
}

#fullPrice {
    padding-left: 23px;
}

.unityPrice {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color)
}

.productPrice {
    padding-left: 10px;
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-color)
}

.productButtons {
    height: auto;
}

.productQuantity {
    width: 100px;
    height: 100%;
    color: var(--secondary-color);
    padding: 2px 10px;
    background-color: var(--text-bright-color);
    margin-top: 20px;
    height: 50px;
    border-radius: var(--card-border-size);
    border: 1px solid lightgray;
    cursor: pointer;
}

.productQuantity:hover {
    border: 1px solid var(--secondary-color);
}

.addToCartButton {
    width: 300px;
    height: 100%;
    font-size: 15px;
    color: var(--text-bright-color);
    padding: 2px 10px;
    background-color: var(--secondary-color);
    margin-top: 20px;
    height: 50px;
    border-radius: var(--card-border-size);
    cursor: pointer;
}

.addToCartButton:hover {
    background-color: var(--main-color);
}

#postalTitle {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}

#postalCodeInput {
    height: 50px;
    width: 300px;
    color: var(--secondary-color);
    padding: 2px 10px;
    background-color: var(--text-bright-color);
    margin-top: 10px;
    height: 50px;
    border-radius: var(--card-border-size);
    border: 1px solid lightgray;
}

#calculateShippingButton {
    width: 100px;
    height: 50px;
    font-size: 15px;
    color: var(--text-bright-color);
    padding: 2px 10px;
    background-color: var(--secondary-color);
    margin-top: 10px;
    height: 50px;
    border-radius: var(--card-border-size);
    cursor: pointer;
}

#calculateShippingButton:hover {
    background-color: var(--main-color);
}

.recomendationsSection {
    background-color: var(--text-bright-color);
    width: 100%;
    height: 310px;
    margin-top: 40px;
    padding: 2px 5px;
    box-shadow: 1px 1px 8px lightgrey;
    border-radius: var(--card-border-size);
}

.showcaseTitle {
    margin: 15px 0 0 15px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.rowShowcaseItemArea {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin: 10px 0px;
}

.rowShowcaseItem {
    width: 200px;
    margin: 0px 15px;
    padding: 5px 10px;
    border-radius: var(--card-border-size);
    transition: 0.3ms;
    text-decoration: none;
    border: 1px solid lightgray;
}

.rowShowcaseItem:hover {
    border: 1px solid var(--secondary-color);
}

.rowShowcaseItemImage {
    height: 160px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.rowShowcaseItemTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: var(--main-color);
}

.rowShowcaseItemDescription {
    height: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: var(--secondary-color);
}

.descriptionSection {
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.descriptionSectionTitle {
    font-size: 25px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.descriptionSectionText {
    text-align: justify;
}

.specificationSection {
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray
}

.ratingSection {
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-bottom: 20px;
}

.specificationSectionText {
    text-align: justify;
}