* {
    margin: 0%;
    padding: 0%;
    
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.signupLogoHolder {
    display: flex;
    flex-direction: row;
    padding: 0 calc((100vw - 1280px) / 2);
    width: 82%;
    height: 100px;
    background-color: #9381FF;
    box-shadow: 0px 3px 5px gray;
}

.logo-signup{
    width: 400px;
    height: 100%;
    background-image: url(../images/logos/main-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signupFormsHolder {
    
    height: 75vh;
    width: 25%;
    margin-left: 35%;
    margin-top: 3%;
    background-color: #FFD8BE;
    border-radius: 10px;
}

h2 {
    margin-left: 7%;
    margin-top: 15%;
    color: #9381FF;
}  

    


input {
    display: flex;
    margin-top: 20px;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    margin-left: 7%;
    
    padding: 0px 10px 0 10px;
}


#registerButton {
    height: 40px;
    width: 80%;
    border-radius: 10px;
    margin-top: 15px;
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10%;
}

.fazerLogin {
    margin-top: 10%;
    margin-left: 10%;
}

.fazerLogin label {
    
    
}

.fazerLogin button {
    background-color: transparent;
    color: #9381FF;
    font-size: 2vh;
}

