@media (max-width: 480px) {
  main {
    padding: 0 20px 10px;
  }

  #optionsPanel {
    width: 100%;
  }

  #overviewPanel {
    display: none;
  }

  .cardDescription {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  main {
    padding: 0 80px 10px;
  }

  #optionsPanel {
    min-width: 100%;
  }

  #overviewPanel {
    display: none;
  }

  .cardDescription {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  main {
    padding: 0 20px 10px;
  }

  .cardDescription {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  main {
    padding: 0 20px 10px;
  }
}

@media (min-width: 1281px) {
  main {
    padding: 0 calc((100vw - 1280px) / 2) 10px;
  }
}

body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  background-color: white;
}

#blur-page {
  z-index: 2;

  position: fixed;

  min-width: 100%;
  min-height: 100%;

  background-color: black;
  opacity: 0.4;
}

#edit-profile-modal {
  z-index: 3;
  position: absolute;
  top: 200px;
  left: calc((100vw - 600px)/2);

  width: 600px;
  height: auto;

  border-radius: var(--card-border-size);
  border-top: 10px solid var(--main-color);
  background-color: var(--text-bright-color);
}

#edit-form-top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#edit-form-title {
  font-size: 20px;
  font-weight: 600;

  margin: 20px;

  width: 100%;

  color: var(--main-color);
}

#close-edit-modal {
  margin: 0px 20px 0px 0px;
  cursor: pointer;
  background-image: url(../images/icons/cross-icon.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
}

#close-edit-modal:hover {
  background-color: var(--text-bright-color-darker);
  background-image: url(../images/icons/cross-icon-hover.svg);
}

#edit-modal-main-content-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;

  padding: 0px 20px 20px;

  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

#edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form-label {
  margin-top: 20px;
  color: var(--main-color);
}

.edit-form-input {
  height: 40px;
  border: 1px solid lightgray;

  border-radius: var(--card-border-size);

  padding: 5px 10px;
  margin-top: 5px;
}

.edit-form-input:focus {
  outline: 1px solid var(--main-color);
}

.edit-form-error {
  font-size: 10px;

  margin-top: 5px;

  color: red;
}

#edit-form-button {
  width: 200px;
  height: 60px;
  padding: 5px 10px;
  margin: 20px;
  align-self: flex-end;

  border-radius: var(--card-border-size);

  background-color: var(--main-color);
  color: var(--text-bright-color);

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
}

#edit-form-button:hover {
  background-color: var(--main-color-darker);
}

#optionsPanel {
  width: 500px;
  height: auto;
}

.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--text-bright-color);
  width: 100%;
  height: auto;
  margin-top: 20px;
  box-shadow: 1px 1px 8px lightgrey;
  border-radius: var(--card-border-size);
}

.profilePhoto {
  height: 200px;
  width: 200px;
  padding: 10px;
  background-color: var(--text-bright-color-darker);
  border-radius: 50%;
  margin: 30px 0 20px 0;
}

.userName {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color);
}

.userInfo {
  font-size: 15px;
  font-weight: 300;
  color: var(--main-color);
}

.profileConfig {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.profileConfigButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 8px;
  color: var(--secondary-color);
  border-radius: var(--card-border-size);
  cursor: pointer;
  border-left: 10px solid transparent;
}

.profileConfigButton:hover {
  border-left: 10px solid var(--secondary-color);
  background-color: var(--text-bright-color-darker);
}

.profileIcon {
  margin: 0 2px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

#editIcon {
  background-image: url(../images/icons/pencil-icon.svg);
}

#configIcon {
  background-image: url(../images/icons/settings-icon.svg);
}

.optionCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--text-bright-color);
  width: 100%;
  height: 100px;
  margin-top: 20px;
  box-shadow: 1px 1px 8px lightgrey;
  border-radius: var(--card-border-size);
  border-left: 10px solid var(--text-bright-color);
  cursor: pointer;
  transition: 0.2s;
}

.optionCard:hover {
  background-color: var(--text-bright-color-darker);
  border-left: 10px solid var(--secondary-color);
}

.cardIcon {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

#ordersIcon {
  background-image: url(../images/icons/orders-icon.svg);
}

#addressIcon {
  background-image: url(../images/icons/address-icon.svg);
}

#paymentIcon {
  background-image: url(../images/icons/payment-icon.svg);
}

#vouchersIcon {
  background-image: url(../images/icons/vouchers-icon.svg);
}

#chatIcon {
  background-image: url(../images/icons/chat-icon.svg);
}

.cardTitle {
  font-size: 20px;
  font-weight: 800;
  color: var(--secondary-color);
}

.cardDescription {
  font-size: 12px;
  font-weight: 400;
  color: var(--main-color);
  white-space: nowrap;
}

#overviewPanel {
  margin: 20px 0 0 0;
  padding: 15px 20px;
  background-color: var(--text-bright-color);
  width: 100%;
  height: auto;
  margin-left: 20px;
  box-shadow: 1px 1px 8px lightgrey;
  border-radius: var(--card-border-size);
}

.overviewTitle {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 600;
}

.overviewSearchbar {
  margin: 30px 0 30px 0;
  height: 56px;
}

#overviewSearchbarForm {
  display: flex;
  align-items: center;
  background-color: var(--text-bright-color);
  height: 56px;
  border-radius: var(--big-border-size);
  border: 1px solid lightgray;
}

#overviewSearchbarArea {
  background-color: white;
  color: gray;
  font-size: 15px;
  padding: 0 0 0 15px;
  height: 100%;
  width: calc(100% - 60px);
  border-top-left-radius: var(--big-border-size);
  border-bottom-left-radius: var(--big-border-size);
}

#overviewSearchbarArea:focus {
  outline: none;
}

#overviewSearchbarButton {
  background-image: url(../images/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-color: white;
  height: 100%;
  width: 60px;
  border-radius: var(--big-border-size);
}

#overviewSearchbarButton:hover {
  background-color: var(--secondary-color);
  background-image: url(../images/icons/search-icon-hover.svg);
  transition: 0.5s;
}

.overviewOrderCard {
  width: 100%;
  height: auto;
  border: 1px solid lightgray;
  border-left: 10px solid green;
  border-radius: var(--card-border-size);
  margin-bottom: 20px;
  padding: 0 20px;
  background-color: white;
}

.overviewOrderCardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.overviewOrderCardHeaderIcon {
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/down-arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.overviewOrderCardHeaderTitle {
  padding: 0 0 0 5px;
  color: green;
  width: 640px;
}

.overviewOrderCardHeaderInfo {
  min-width: 110px;

  margin-right: 5px;

  white-space: nowrap;
}

.overviewOrderCardHeaderDate {
  color: green;
}

.overviewOrderCardBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  height: calc(100% - 50px);
}

.overviewOrderCardBodyPic {
  width: 100px;
  height: 100px;
  background-image: url(../images/products/prod5-img1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.overviewOrderCardBodyInfoHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.overviewOrderCardBodyName {
  font-size: 20px;
  font-weight: 400;
  color: var(--main-color);
  margin-right: 5px;
}

.overviewOrderCardBodyDescription {
  font-size: 15px;
  font-weight: 600;
  color: green;
}

.overviewOrderCardFooter {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding: 10px 0;

  border-top: 1px solid lightgray;
}

.overviewOrderCardFooterTitle {
  margin: 0 5px 0 15px;
}

.overviewOrderCardFooterInfo {
  color: green;
  font-weight: 600;
}