* {
    margin: 0%;
    padding: 0%;
    

}

main {
    padding: 0 calc((100vw - 1280px) / 2);
}

.painel-user-0 {
    display: flex;
}


.painel-perfil-1 {
    width: 350px;
    height: 500px;
    background-color: green;
}


.info-conta-2 {
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
}

.icone-perfil-3 {
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 200px;
}

.detalhes-3 {
    padding: 5px 0px 10px 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.forms-conta-2 {
    
    height: 398px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.forms-conta-2 button {
    margin-top: 20px;
    width: 250px;
}


.dados-perfil-1 {
    width: 800px;
    height: 1000px;
    background-color: blue;
}


.titulo-perfil-2 {}


.forms-perfil-2 {}


.imagem-perfil-1 {
    width: 350px;
    height: 500px;
    background-color: yellow;
}


.image-2 {}


.imageSelector-3 {}


.select-iamge-2 {}