<!DOCTYPE html>
<html lang="pt-br">
    <head>
			<title>Carrinho | PET STORE</title>
      <%- include('./partials/head') %>
			<link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
      <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
      <link rel="stylesheet" href="/stylesheets/cartStyle.css"/>
      <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
    </head>
    <body>
	<%- include('./partials/loggedHeader') %>
		<main>
			<h1 class="aproveite">Produtos Mais Vendidos</h1>
			<div class="produtos">
				<div class="produto-em-destaque">
					<div class="produto-info">
						<img class="imagen-produto" src="/images/products/D_NQ_NP_624383-MLB47345286826_092021-W-removebg-preview.png" alt="Produto Pet">
						<div class="texto"><p>Bifinho Petiscão Ossinho de Carne para Cães</p></div>
					</div>
					<form class="adicionar-carinho" action="">
						<button class="botao-adicionar" type="submit">Adicionar ao Carinho</button>
					</form>
				</div>
				<div class="produto-em-destaque">
					<div class="produto-info">
						<img class="imagen-produto" src="/images/products/fabrica-produtos-pet-shop-01-removebg-preview.png" alt="Produto Pet">
						<div class="texto"><p>Comedouro Plástico</p></div>
					</div>
					<form class="adicionar-carinho" action="">
						<button class="botao-adicionar" type="submit">Adicionar ao Carinho</button>
					</form>
				</div>
				<div class="produto-em-destaque">
					<div class="produto-info">
						<img class="imagen-produto" src="/images/products/fornecedores-produtos-pet-shop-01-removebg-preview.png" alt="Produto Pet">
						<div class="texto"><p>Caixa de Transporte Luxo Furacão Pet Rosa</p></div>
					</div>
					<form class="adicionar-carinho" action="">
						<button class="botao-adicionar" type="submit">Adicionar ao Carinho</button>
					</form>
				</div>
				<div class="produto-em-destaque">
					<div class="produto-info">
						<img class="imagen-produto" src="/images/products/fornecedores-produtos-pet-shop-atacado-01-removebg-preview.png" alt="Produto Pet">
						<div class="texto"><p>Sanitário Canino</p></div>
					</div>
					<form class="adicionar-carinho" action="">
						<button class="botao-adicionar" type="submit">Adicionar ao Carinho</button>
					</form>
				</div>
			</div>

			<h1 class="minha-cesta">Minha Cesta</h2>

			<div class="products-cart">
				<div class="tabela-produtos-mae">
					<table>
						<tr>
							<th class="cesta-titulo"><h3>Protudo</h3></th>
							<th class="cesta-titulo"><h3>Descrição</h3></th>
							<th class="cesta-titulo"><h3>Quantidade</h3></th>
							<th class="cesta-titulo"><h3>Preço</h3></th>
						</tr>
						<tr>
							<td class="tabela-imagen"><img class="produto-cesta" src="/images/products/Ração_Seca_Balance_Frango_e_Vegetais_para_Cães_Adultos_de_Raças_Médias_e_Grandes_2272198_10kg-removebg-preview.png" alt="ração balance"></td>
							<td class="tabela-descricao">Ração Seca Balance Frango e Vegetais para Cães Adultos de Raças Médias e Grandes</td>
							<td class="tabela-quantidade">
								<ul class="adicionar-produto">
									<a href="#">-</a>
									1									
									<a href="#">+</a>
								</ul>
							</td>
							<td class="tabela-preco">R$104,90</td>
						</tr>
						<tr>
							<td class="tabela-imagen"><img class="produto-cesta" src="/images/products/7898490095315-removebg-preview.png" alt="caixa Transporte Luxo Pet"></td>
							<td class="tabela-descricao">Caixa de Transporte Luxo Furacão Pet Preto</td>
							<td class="tabela-quantidade">
								<ul class="adicionar-produto">
								<a href="#">-</a>
								1									
								<a href="#">+</a>
								</ul>
							</td>
							<td class="tabela-preco">
								R$109,90</td>
						</tr>
						<tr>
							<td class="tabela-imagen"><img class="produto-cesta" src="/images/products/D_NQ_NP_624383-MLB47345286826_092021-W-removebg-preview.png" alt="Petisco Pesticao Pet"></td>
							<td class="tabela-descricao">Bifinho Petiscão Ossinho de Carne para Cães</td>
							<td class="tabela-quantidade">
								<ul class="adicionar-produto">
									<a href="#">-</a>
									1									
									<a href="#">+</a>
									</ul>
							</td>
							<td class="tabela-preco"> R$22,99 </td>
						</tr>					
					</table>
				</div>
				
				
				<div class="container">

					<div class="cart-container">

						<div class="container-header">

							<h3>Carrinho de Compras</h3>

						</div>

						<div class="cart-body">

							<div class="cart-item">

								<div class="cart-row">

									<div class="cart-row-cell pic">

										<a href="#">-</a>
										
										<span></span>
									
									</div>

									<div class="cart-row-cell desc">
										
										<h5>Ração Balance</h5>

										<p>#41345755</p>

									</div>

									

									<div class="cart-row-cell amount">

										<p>R$104,90</p>

									</div>	
								
								</div>

								<div class="cart-row">

									<div class="cart-row-cell pic">

										<a href="#">-</a>
										
										<span></span>
									
									</div>

									<div class="cart-row-cell desc">
										
										<h5>Caixa de Transporte Luxo</h5>

										<p>#41345755</p>

									</div>

									

									<div class="cart-row-cell amount">

										<p>R$109,90</p>

									</div>	
								
								</div>

								<div class="cart-row">

									<div class="cart-row-cell pic">

										<a href="#">-</a>
										
										<span></span>
									
									</div>

									<div class="cart-row-cell desc">
										
										<h5>Petiscao</h5>

										<p>#41345755</p>

									</div>

									<div class="cart-row-cell amount">

										<p>R$22,99</p>

									</div>
									
																	
								</div>
								<br>
								
								<form>
									<label for="CEP">CEP:
									<input class="cep-5" name="CEP" id="CEP" required pattern="\d{5}-\d{3}"/>
									<input class="cep-3" name="CEP" id="CEP" required pattern="\d{5}-\d{3}"/>
									</label>
									<input class="botao-frete" type="submit" value="Calcular Frete" />
									</form>

							</div>
						
						</div>

						<div class="container-footer">


							<div class="totals">
								
								<p class="total-label">Subtotal</p>

								<p class="total-amount">R$237,79</p>

							</div>

							<div class="totals">
								
								<p class="total-label">Frete</p>

								<p class="frete">Gratis</p>

							</div>


							<div class="totals">
								
								<p class="total-label">Total</p>

								<p class="total-amount">R$237,79</p>

							</div>

							<button  class="footer-button">
								<a class="links" href="/cart/checkout/">Finalizar Compra</a>											
							</button>

						</div>

					</div>

				</div>
			</div>
		</main>
		<%- include('./partials/footer') %>
	</body>

</html>