<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Checkout | PET STORE</title>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/checkoutStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
    </head>
 <body>
  <%- include('./partials/header') %>
  <main>
   <section>
    <h1>Checkout</h1>
   </section>
   <section></section>
   <section></section>
  </main>
  <%- include('./partials/footer') %>
 </body>
</html>
</html>