<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
 <body>
  <header></header>
  <main>
   <section></section>
   <section></section>
   <section></section>
  </main>
  <footer></footer>
 </body>
</html>