<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="/stylesheets/homeStyle.css"/>
    </head>
 <body>
  <%- include('./partials/header') %>
  <main>
   <section>
    <h1>Checkout</h1>
   </section>
   <section></section>
   <section></section>
  </main>
  <%- include('./partials/footer') %>
 </body>
</html>
</html>