<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include('./partials/header') %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Contato</p>
  </body>

  <%- include('./partials/footer') %>
</html>