<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Erro</title>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/errorStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
    </head>
    <body>
        <main>
            <div id="loginLogoHolder">
                <a href="/" id="logo"></a>
            </div>
            <div id="errorNumber">
                404
            </div>
            <div id="errorMessage">
                Opa, parece que você se perdeu!
            </div>
        </main>
    </body>
</html>
