<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Erro</title>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/errorStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
    </head>
    <body>
        <h1>Parece que voce se perdeu!!!</h1>
    </body>
</html>
