<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>PET STORE | Amamos quem mais nos ama</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/homeStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
  <div id="headerHolder">
    <%- include('./partials/header') %>
  </div>
  <main>
   <div id="banner">
    <section class="showcase">
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
    </section>
    <section class="showcase">
      <div class="rowShowcase"></div>
    </section>
    <section class="showcase">
      <div class="rowShowcase"></div>
    </section>
    <section class="showcase">
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
    </section>
    <section class="doubleShowcase">
      <div class="bigShowcase"></div>
      <div class="longShowcase"></div>
    </section>
    <section class="showcase">
      <div class="rowShowcase"></div>
    </section>
    <section class="showcase">
      <div class="addsShowcase"></div>
    </section>
    <section class="showcase">
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
    </section>
   </div>
  </main>
  <%- include('./partials/footer') %>
 </body>
</html>