<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/homeStyle.css"/>
  </head>
 <body>
  <div id="headerHolder">
    <%- include('./partials/loggedHeader') %>
  </div>
  <main>
   <div id="banner">
    <section class="showcase">
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
    </section>
    <section class="showcase">
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
    </section>
    <section class="showcase">
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
    </section>
    <section class="showcase">
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
    </section>
    <section class="showcase">
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
    </section>
    <section class="showcase">
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
    </section>
    <section class="showcase">
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
      <div class="squareShowcase"></div>
    </section>
   </div>
  </main>
  <%- include('./partials/footer') %>
 </body>
</html>