<!DOCTYPE html>
<html>
 <%- include('./partials/head') %>
 <body>
  <%- include('./partials/header') %>
  <main>
   <section></section>
   <section></section>
   <section></section>
  </main>
  <%- include('./partials/footer') %>
 </body>
</html>