<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>PET STORE | Amamos quem mais nos ama</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/homeStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
  <div id="headerHolder">
    <%- include('./partials/loggedHeader') %>
  </div>
  <main>
   <div id="banner">
    <section class="showcase">
      <div class="middleShowcase">
        <div class="squareShowcase">
          <div class="showcaseTitle">Nutrição</div>
          <div class="showcaseImage" id="nutritionImage"></div>
          <div class="seeMore">Veja mais ></div>
        </div>
        <div class="squareShowcase">
          <div class="showcaseTitle">Cama & Banho</div>
          <div class="showcaseImage" id="bedImage"></div>
          <div class="seeMore">Veja mais ></div>
        </div>
      </div>
      <div class="middleShowcase">
        <div class="squareShowcase">
          <div class="showcaseTitle">Beleza & Estética</div>
          <div class="showcaseImage" id="beautyImage"></div>
          <div class="seeMore">Veja mais ></div>
        </div>
        <div class="squareShowcase">
          <div class="showcaseTitle">Brinquedos</div>
          <div class="showcaseImage" id="toyImage"></div>
          <div class="seeMore">Veja mais ></div>
        </div>
      </div>
    </section>
    <section class="showcase">
      <div class="rowShowcase">
        <div class="showcaseTitle">Continue comprando</div>
      </div>
    </section>
    <section class="showcase">
      <div class="rowShowcase">
        <div class="showcaseTitle">Produtos Recomendados</div>
      </div>
    </section>
    <section class="showcase">
      <div class="middleShowcase">
        <div class="squareShowcase">
          <div class="showcaseTitle">Produto Recomendado</div>
        </div>
        <div class="squareShowcase">
          <div class="showcaseTitle">Produto Recomendado</div>
        </div>
      </div>
      <div class="middleShowcase">
        <div class="squareShowcase">
          <div class="showcaseTitle">Produto Recomendado</div>
        </div>
        <div class="squareShowcase">
          <div class="showcaseTitle">Produto Recomendado</div>
        </div>
      </div>
    </section>
    <section class="doubleShowcase">
      <div class="bigShowcase">
        <div class="showcaseTitle">Produto Recomendado</div>
      </div>
      <div class="longShowcase">
        <div class="showcaseTitle">Produto Recomendado</div>
      </div>
    </section>
    <section class="showcase">
      <div class="rowShowcase">
        <div class="showcaseTitle">Produto Recomendado</div>
      </div>
    </section>
    <section class="showcase">
      <div class="addsShowcase"></div>
    </section>
    <section class="showcase">
      <div class="middleShowcase">
        <div class="squareShowcase">
          <div class="showcaseTitle">Produto Recomendado</div>
        </div>
        <div class="squareShowcase">
          <div class="showcaseTitle">Produto Recomendado</div>
        </div>
      </div>
      <div class="middleShowcase">
        <div class="squareShowcase">
          <div class="showcaseTitle">Produto Recomendado</div>
        </div>
        <div class="squareShowcase">
          <div class="showcaseTitle">Produto Recomendado</div>
        </div>
      </div>
    </section>
   </div>
  </main>
  <%- include('./partials/footer') %>
 </body>
</html>