<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Acessar Pet-store</title>
</head>
<body>
    <div class="login-1">
        <div class="logo-2">
            
        </div>
        <div class="form-2">
            
            <form  action="">
                <label  for="">Usuario</label></br>
                <input type="text" name="usuario" id=""></br>
                <label for="">Senha</label></br>
                <input type="password" name="senha" id=""></br>
                <button type="submit">Entrar</button>
                <p>Esqueceu a senha?</p>
            </form>
        
        </div>
        <div class= 'cadastrar-2'>
            <p>Nao tem uma conta?Cadastre-se</p>
        </div>
    </div>
    <div class="footer-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum qui, velit atque error culpa quidem, temporibus eaque tenetur deserunt dignissimos, fuga dicta eum modi? Laudantium velit quo porro natus tenetur?</p>
    </div>
    
    
</body>
</html>