<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/stylesheets/footerStyle.css">
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <main>
            <div id="loginLogoHolder">
                <div id="logo"></div>
                <div></div>
            </div>
            <div id="loginFormsHolder">
                <form action="" method="POST">
                    <input type="email" name="email" id="email" placeholder="Digite aqui seu e-mail ou CPF">
                    <input type="password" name="password" id="password" placeholder="Digite aqui sua senha">
                    <button id="loginButton">Log In</button>
                    <button id="forgotButton">Esqueceu sua senha?</button>
                    <button id="signupButton">Cadastre-se</button>
                </form>
            </div>
        </main>
        <%- include('./partials/footer') %>
    </body>
</html>