<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/loggedHeader') %>
    <main>
      <section>
        <p>Product</p>
      </section>
      <section></section>
      <section></section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>