<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Produto | PET STORE</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/productStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
    <%- include('./partials/loggedHeader') %>
  <main>
      <section>
        <p>Pet Shop > Cachorro > Ração > Ração Seca</p>
      </section>
      <section>
        <div class="main-content">
          <div class="main-container1">
          <div class="content"> 
            <div class="content1-container2">
                <div class="image-container3">
                    <img src="../../public/images/products/Ração_Premier1.jpg" alt="Ração_Premier1">
                </div> 
            </div>  
              
            <div class= "content2-container2"><h1>Ração Premier Ambientes Internos Filhotes - Frango e Salmão</h1>
              <h2>Avaliações</h2>
              <p>- Pelagem bonita e pele saudável: rico em proteínas de alta qualidade e equilíbrio ideal de ácidos graxos essenciais<br> - ômegas 3 e 6;<br>
                - Sabor excepcional: utilização de ingredientes de alta qualidade que agradam aos paladares mais exigentes;<br>
                - Desenvolvimento excelente: níveis ótimos de proteínas, energia, vitaminas e minerais. Enriquecido com DHA, ômega 3 essencial ao aprendizado dos filhotes.
              </p>
            </div>
            <div class= "content3-container2">
              <p>Escolha o tamanho:</p>
              <div class="size_container3">
                  <div class="choose1">1 KG</div>
                  <div class="choose1">3 KG</div>
                  <div class="choose1">7 KG</div>
                  <div class="choose1">15 KG</div>
                </div>     
              <hr>  
              <div class= "infotext-container3">R$ 80,00</div>
              <div class= "addcart-container3">Adicionar ao carrinho <br> - 1 +</div>
              <div class= "buy-container3">Comprar</div>
              <div class="cep-container3">Calcular frete</div>
            </div>
          </div>
        </div>
        </div> 
        <div class="infotext3-container1">Detalhes do produto<br>
          <p> Filhotes que vivem dentro de casa têm necessidades nutricionais especiais. A Ração Premier Ambientes Internos para Cães Filhotes - Frango e Salmão é um alimento Super Premium específico para filhotes com este estilo de vida. Sua fórmula exclusiva contém somente ingredientes nobres, conferindo excelente sabor e pelagem muito mais bonita e saudável. É um alimento completo e balanceado que satisfaz 100% das necessidades nutricionais do seu filhote, proporcionando ossos, músculos e dentes mais fortes. Por isso, não é recomendado nenhum tipo de suplementação</p>
        </div>  
        <div class="infotext4-container1">Especificações técnicas.<br>
          <p>Porte:
            Raças Minis, Raças Pequenas<br>
            Tipo da Ração:
            Super Premium, Ambiente Interno <br>
            Idade:
            Adulto <br>
            Peso da Ração: 
            1 kg, 2.5 kg, 7.5 kg, 12 kg<br>
            Raças de Cachorro:
            Beagle, Boston Terrier, Chihuahua, Dachshund, Lhasa Apso, Lulu da Pomerânia, Maltês, Pinscher, Poodle, Pug, Shih Tzu, Yorkshire Terrier.</p>
        </div>  
      </section>
      <section></section>
    </main>
    <%- include('./partials/footer') %>
  </body>