<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Produto | PET STORE</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/productStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
    <%- include('./partials/loggedHeader') %>
  <main>
      <section>
        <p>Product</p>
        </section>
      <section>
        <div class="main-content">
          <div class="main-container-1">
           <div class="infotext-container-1"></div>
           <div class="main-container-2">
             <div class="image-container-3">
               <img src="bolsa-transporte1.png" alt="Bolsa de transporte">
               <img src="bolsa-transporte2.png" alt="Bolsa de transporte">
               <img src="bolsa-transporte3.png" alt="Bolsa de transporte">
             </div> 
           </div>  
          </div>
          <div class="content-container-2">
            <div class="infotext-container-3"></div>
            <div class="addcart-container-3"></div>
            <div class="buy-container-3"></div>
            <div class="text-container-3"></div>
            <div class="cep-container-3"></div>
          </div>
        <div class="infotext2-container-1"></div>
        <div class="infotext3-container-1"></div>
        <div class="infotext4-container-1"></div>
        </div>
      </section>
      <section></section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>