<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Register Product</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/productRegistrationStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
  <main>
    <h1 id="title">PET STORE - PRODUCT REGISTRATION</h1>
    <form id="reg-prod-form" method="POST" action="/products/addProd">
        <label for="name">Name</label>
        <input class="reg-prod-field" type="text" name="name" id="name">

        <label for="description">Description</label>
        <input class="reg-prod-field" type="textarea" name="description" id="description">

        <label for="price">Price</label>
        <input class="reg-prod-field" type="text" name="price" id="price">

        <!-- <label>Images</label>
        <input type="file" class="reg-prod-field" multiple="multiple"> -->

        <div  id="reg-prod-button-container">
            <button id="reg-prod-button" type="submit">Cadastrar Produto</button>
        </div>
    </form>
  </main>
 </body>
</html>