<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Lista de Produtos | PET STORE</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/productsListStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>

  <main>
   <section>
    <p>Lista de produtos</p>
   </section>
   <h1>Nome do item pesquisado</h1>
            <p>000 resultados</p>
   <section>
     <div class="main-content">
        <div class="main-container1">  
          <div class="content1-container2">
            <div class="filter-container3">Filtrar por
              <div class="filter1">Filtro 1</div>
              <div class="filter1">Filtro 2</div>
              <div class="filter1">Filtro 3</div>
            </div>
           <div class="category-container3">Categorias
            <div class="category1">Categoria 1</div>
            <div class="category1">Categoria 2</div>
            <div class="category1">Categoria 3</div>
            <div class="category1">Categoria 4</div>
            <div class="category1">Categoria 5</div>
            <div class="category1">Categoria 6</div>
           </div>
           <div class="products-container3">Produtos
            <div class="products1">Produto 1</div>
            <div class="products1">Produto 2</div>
            <div class="products1">Produto 3</div>
            <div class="products1">Produto 4</div>
            <div class="products1">Produto 5</div>
            <div class="products1">Produto 6</div>
           </div>
          </div>
          <div class="content2-container2">
            <div class="images1-container">
              <div class="image-container3">
              <div class="image1-container4">
                <img src="/images/products/7898490095315-removebg-preview.png" height="200px" width="200px" alt="caixa">
              </div>
              <div class="name1-container4">Caixa de transporte Luxo Fucarão PET preta e azul <br>TAM G<br> R$ 129,90 </div>
             </div>
            <div class="image-container3">
              <div class="image1-container4">
                <img src="/images/products/D_NQ_NP_624383-MLB47345286826_092021-W-removebg-preview.png" height="200px" width="200px" alt="palito">
              </div>
              <div class="name1-container4">Osso Petiscão palito 1kg <br> R$ 12,90</div>
            </div>
            <div class="image-container3">
              <div class="image1-container4">
                <img src="/images/products/fabrica-produtos-pet-shop-01-removebg-preview.png" height="200px" width="200px">
              </div>
              <div class="name1-container4">Comedouro plástico interativo Fábrica Pet<br> R$ 19,90</div>
            </div>
           </div>
           <div class="images1-container">
            <div class="image-container3">
            <div class="image1-container4">
              <img src="/images/products/fornecedores-produtos-pet-shop-01-removebg-preview.png" height="200px" width="200px">
            </div>
            <div class="name1-container4">Caixa de transporte Luxo Furacão PET  preta e rosa TAM M <br> R$ 109,90</div>
           </div>
           <div class="image-container3">
            <div class="image1-container4">
              <img src="/images/products/fornecedores-produtos-pet-shop-atacado-01-removebg-preview.png" height="200px" width="200px">
            </div>
            <div class="name1-container4">Sanitário para cachorro Dog Toalete cores<br> TAM G <br>R$ 49,99</div>
           </div>
           <div class="image-container3">
           <div class="image1-container4">
             <img src="/images/products/Ração_Seca_Balance_Frango_e_Vegetais_para_Cães_Adultos_de_Raças_Médias_e_Grandes_2272198_10kg-removebg-preview.png" height="200px" width="200px">
           </div>
           <div class="name1-container4">Ração Balance Frango e Vegetais raças médias e grandes - 10KG <br> R$ 119,90</div>
           </div> 
          </div>
          <div class="images1-container">
            <div class="image-container3">
            <div class="image1-container4">
              <img class="produto-cesta" src=/images/products/bolsa-transporte1.png height="200px" width="200px">
            </div>
            <div class="name1-container4">Bolsa para transporte Cães e Gatos Índigo TAM Único <br> R$ 89,90</div>
            </div>
          <div class="image-container3">
            <div class="image1-container4">
              <img src="/images/products/1526670412821_mini.png" heidth="200px" width="200px">
            </div>
            <div class="name1-container4">Cama para cães Pet Bone Azul - TAM M <br>R$ 139,90</div>
          </div>
          <div class="image-container3">
            <div class="image1-container4">
              <img src="/images/products/1457990612925.png" heidth="200px" width="200px">
            </div>
            <div class="name1-container4">Brinquedo Pássaros Palitos Coloridos <br>R$ 24,90</div>
          </div>
         </div> 
         <div class="images1-container">
            <div class="image-container3">
            <div class="image1-container4">
              <img src="/images/products/104043755_1SZ.png" height="200px" width="200px">
            </div>
            <div class="name1-container4">Arranhador para gatos Pet Poste <br> R$ 39,99</div>
            </div>
            <div class="image-container3">
            <div class="image1-container4">
              <img src="/images/products/4799304101_1.png" height="200px" weidth="200px">
            </div>
            <div class="name1-container4">Comedouro Madeira Duplo Elevado<br> R$ 64,90</div>
            </div>
            <div class="image-container3">
            <div class="image1-container4">
              <img src="/images/products/2891003378_1SZ.png" height="200px" width="200px">
            </div>
            <div class="name1-container4">Comedouro com bebedouro automático Pet Verde <br> R$ 49,90</div>
          </div>
          </div>
   </section>
  </main>
  <%- include('./partials/footer') %>
 </body>
</html>