<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Lista de Produtos | PET STORE</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/productsListStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
  <%- include('./partials/header') %>
  <main>
   <section>
    <p>Lista de produtos</p>
   </section>
   <h1>Nome do item pesquisado</h1>
            <p>000 resultados</p>
   <section>
     <div class="main-content">
        <div class="main-container1">  
          <div class="content1-container2">
            <div class="filter-container3">Filtros
              <div class="filter1"></div>
              <div class="filter1"></div>
              <div class="filter1"></div>
            </div>
           <div class="category-container3">Categorias
            <div class="category1">Categoria 1</div>
            <div class="category1">Categoria 2</div>
            <div class="category1">Categoria 3</div>
            <div class="category1">Categoria 4</div>
            <div class="category1">Categoria 5</div>
            <div class="category1">Categoria 6</div>
           </div>
           <div class="products-container3">Produtos
            <div class="products1"></div>
            <div class="products1"></div>
            <div class="products1"></div>
            <div class="products1"></div>
            <div class="products1"></div>
            <div class="products1"></div>
           </div>
          </div>
          <div class="content2-container2">
            <div class="images1-container">
              <div class="image-container3">
              <div class="image1-container4"></div>
              <div class="name1-container4"></div>
             </div>
            <div class="image-container3">
              <div class="image1-container4"></div>
              <div class="name1-container4"></div>
            </div>
            <div class="image-container3">
              <div class="image1-container4"></div>
              <div class="name1-container4"></div>
            </div>
           </div>
           <div class="images1-container">
            <div class="image-container3">
            <div class="image1-container4"></div>
            <div class="name1-container4"></div>
           </div>
           <div class="image-container3">
            <div class="image1-container4"></div>
            <div class="name1-container4"></div>
           </div>
           <div class="image-container3">
           <div class="image1-container4"></div>
           <div class="name1-container4"></div>
           </div> 
          </div>
          <div class="images1-container">
            <div class="image-container3">
            <div class="image1-container4"></div>
            <div class="name1-container4"></div>
            </div>
          <div class="image-container3">
            <div class="image1-container4"></div>
            <div class="name1-container4"></div>
          </div>
          <div class="image-container3">
            <div class="image1-container4"></div>
            <div class="name1-container4"></div>  
          </div>
         </div> 
         <div class="images1-container">
              <div class="image-container3">
              <div class="image1-container4"></div>
              <div class="name1-container4"></div>
             </div>
            <div class="image-container3">
              <div class="image1-container4"></div>
              <div class="name1-container4"></div>
            </div>
            <div class="image-container3">
              <div class="image1-container4"></div>
              <div class="name1-container4"></div>
          </div>
          </div>
   </section>
  </main>
  <%- include('./partials/footer') %>
 </body>
</html>