<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Lista de Produtos | PET STORE</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/productsListStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
  <%- include('./partials/header') %>
  <main>
   <section>
    <p>Products List</p>
   </section>
   <section>
     <div class="main-content">
       <div class="main-container1">
         <h1>Nome do item pesquisado</h1>
         <p>000 resultados</p>
         <div class="order-container1"></div>
         <div class="content1-container2">
           <div class="filter-container3"></div>
           <div class="category-container3"></div>
           <div class="products-container3"></div>
         </div>
         <div class="content2-container2">
           <div class="image-container3">
             <div class="image1-container4">
               <div class="name1-container4"></div>
               <div class="price1-container4"></div>
             </div>
             <div class="image2-container4">
              <div class="name2-container4"></div>
              <div class="price2-container4"></div>
             </div>
             <div class="image3-container4">
               <div class="name3-container4"></div>
               <div class="price3-container4"></div>
             </div>
             <div class="image4-container4">
              <div class="name4-container4"></div>
              <div class="price4-container4"></div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <section></section>
  </main>
  <%- include('./partials/footer') %>
 </body>
</html>