<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Produto | PET STORE</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/productStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
    <%- include('./partials/loggedHeader') %>
  <main>
      <section>
        <p>>Produto</p>
      </section>
      <section>
        <div class="main-content">
          <div class="main-container1">
            <h1>Nome completo do produto</h1>
          <div class="content"> 
              <div class="content1-container2">
                  <div class="image-container3">
                     <img src="bolsa-transporte1.png" alt="Bolsa de transporte">
                  </div> 
              </div>  
              
              <div class= "content2-container2">
                <div class= "infotext-container3">Preço unitário</div>
                <div class= "addcart-container3">Adicionar ao carrinho</div>
                <div class= "buy-container3">Comprar</div>
                <div class="text-container3">Parcele sua compra <br> Em até 12X sem juros</div>
                <div class="cep-container3">Calcule seu CEP</div>
              </div>
            </div>
          </div>
        </div> 
        <p>AVALIAÇÔES</p>
        <div class="infotext3-container1">Descrição do produto<br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>  
        <div class="infotext4-container1">Especificações técnicas.<br>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>  
      </section>
      <section></section>
    </main>
    <%- include('./partials/footer') %>
  </body>