<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Produto | PET STORE</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/productStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
  <body>
    <%- include('./partials/loggedHeader') %>
    <main>
      <section>
        <p>Product</p>
      </section>
      <section></section>
      <section></section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>