<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Cadastro | PET STORE</title>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/signupStyle.css"/>
        <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
    </head>
    <body>
        <main>
            <div class="signup-1">
                <div class="signupLogoHolder">
                    <div class="logo-signup"></div>
                </div>
                <div class="signupFormsHolder">
                    <h2>Cadastro</h2>
                   <form action="" method="POST">
                       <input type="text" id="usuarioName" placeholder="Digite aqui seu nome">
                       <input type="email" id="usuarioEmail" placeholder="Digite aqui seu e-mail">
                       <input type="password" id="senha" placeholder="Digite aqui sua senha">
                       <input type="password" id="confirmSenha" placeholder="Confirme sua senha">
                       <input type="number" id="telefone" placeholder="Digite aqui seu telefone">
                       
                       <button id="registerButton" type="submit">Cadastrar</button>
                       <div class="fazerLogin">
                       <label>Voce ja tem uma conta?</label>
                       <button type="submit">Fazer login</button>
                       </div>
                       
                    
                   </form>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
    </body>
</html>