<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Painel de Usuário| PET STORE</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/userPanelStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
  <%- include('./partials/header') %>
  <main>
   <section>
    <p>User Panel</p>
   </section>
   <section></section>
   <section></section>
  </main>
  <%- include('./partials/footer') %>
 </body>
</html>