<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Painel de Usuário | PET STORE</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/userPanelStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="painel-user-0">
      <div class="painel-perfil-1">
        <div class="info-conta-2">
          <div class="icone-perfil-3"></div>
            <div class="detalhes-3">
              <p>nome.usuario</p>
              <button type="submit">Altera Perfil</button>
            </div>      
          </div>
          <div class="forms-conta-2">
            <button type="submit">Minha Conta</button>
            <button type="submit">Perfil</button>
            <button type="submit">Trocar Senha</button>
            <button type="submit">Minhas Compras</button>
          </div>
        </div>
      <div class="dados-perfil-1">
        <div class="titulo-perfil-2">
          <h1>Minha Conta</h1>
        </div>
      <div class="forms-perfil-2">
        <form action="" method="">
          <label class="labelEdit-4"  for="userName">Nome de Usuario</label>
          <input id="inputUserName" class="inputEdit-4" type="text" name="userName" id="userName"></br>

          <label class="labelEdit-4"  for="fullName">Nome Completo</label>
          <input id="inputFullName" class="inputEdit-4" type="text" name="fullName" id="fullName"></br>

          <label class="labelEdit-4"  for="userEmail">E-mail</label>
          <input id="inputEmail" class="inputEdit-4" type="email" name="userEmail" id="userEmail"></br>

          <label class="labelEdit-4"  for="userTell">Numero De Telefone</label>
          <input id="inputTell" class="inputEdit-4" type="tel" name="userTell" id="userTell"></br>

          <label class="labelEdit-4"   for="userCPF">CPF</label>
          <input id="inputCPF" class="inputEdit-4" type="number" name="userCPF" id="userCPF"></br>

          <div class="labelAndInputSexo">
          <label  >Sexo:</label>
          <input id="inputMasculino" type="radio" id="masculino" name="sexo" placeholder="Masculino"><label for="sexo">Masculino</label>
          <input type="radio" id="feminino" name="sexo" placeholder="Feminino"><label for="sexo">Feminino</label></br>
          </div>
          <div class="labelAndInputData">
          <label  for="dataNascimento">Data de Nascimento</label>
          <input type="date" name="dataNascimento"></br>
          </div>
          <button type="submit">Salvar</button>
        </form>
      </div>
      </div>
      <div class="imagem-perfil-1">
      <div class="image-2">
      <div class="editImgPerfil-3">
      </div>
      </div>
      <div class="select-image-2">
      <input type="file" name="selectorImage">
      </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>