<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Painel de Usuário| PET STORE</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/generalStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/headerStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/userPanelStyle.css"/>
    <link rel="stylesheet" href="/stylesheets/footerStyle.css"/>
  </head>
 <body>
  <%- include('./partials/header') %>
  <main>
    <div class="painel-user-0">
       <div class="painel-perfil-1">
        
         <div class="info-conta-2">
          <div class="icone-perfil-3"></div>
          <div class="detalhes-3">
              <p>nome.usuario</p>
              <button type="submit">Altera Perfil</button>
          </div>      
         </div>
         <div class="forms-conta-2">
           <button type="submit">Minha Conta</button>
           <button type="submit">Perfil</button>
           <button type="submit">Trocar Senha</button>
           <button type="submit">Minhas Compras</button>
         </div>
       </div>
       <div class="dados-perfil-1">
        <div class="titulo-perfil-2"></div>
        <div class="forms-perfil-2"></div>
       </div>
       <div class="imagem-perfil-1">
        <div class="image-2">
          <div class="editImgPerfil-3">
        </div>
        <div class="select-image-2">
          <input type="file" name="selectorImage">
        </div>
       </div>
    </div>
  </main>
  
 </body>
</html>