<footer>
  <a id="backToTop" href="#top">Voltar ao topo</a>
  <div id="footerFirstSection">
    <div id="footerColumn">
      <div class="footerMenuTitle">Conheça-nos</div>
      <div class="footerMenuOption">Quem somos</div>
      <div class="footerMenuOption">Nossas Lojas</div>
      <div class="footerMenuOption">Comunidade</div>
    </div>
    <div id="footerColumn">
      <div class="footerMenuTitle">Institucional</div>
      <div class="footerMenuOption">Programa de Afiliados</div>
      <div class="footerMenuOption">Venda com a PET STORE</div>
      <div class="footerMenuOption">Prêmios</div>
      <div class="footerMenuOption">Política de Privacidade</div>
      <div class="footerMenuOption">Carreiras</div>
    </div>
    <div id="footerColumn">
      <div class="footerMenuTitle">Serviços</div>
      <div class="footerMenuOption">Produtos Internacionais</div>
      <div class="footerMenuOption">Trocas e Devoluções</div>
      <div class="footerMenuOption">Cupom de Desconto</div>
    </div>
    <div id="footerColumn">
      <div class="footerMenuTitle">Ajuda</div>
      <div class="footerMenuOption">Sua conta</div>
      <div class="footerMenuOption">Gerencie seu conteúdo</div>
      <div class="footerMenuOption">Ajuda</div>
    </div>
  </div>
  <div id="footerSecondSection">
    <div id="footerSecondSectionUp">
      <div id="footerLogo"></div>
      <div id="footerAccessibiltyHolder">
        <div class="socialMediaIcon" id="accessibilityIcon"></div>
        <div id="accessibilityButton">Acessibilidade</div>
      </div>
      <div id="socialMediaFooterHolder">
        <div class="socialMediaIcon" id="facebookIcon"></div>
        <div class="socialMediaIcon" id="instagramIcon"></div>
        <div class="socialMediaIcon" id="twitterIcon"></div>
        <div class="socialMediaIcon" id="whatsappIcon"></div>
      </div>
    </div>
    <div id="footerUnderline">
      pet store s.a. / CNPJ: 99.999.999/9999-99 / Inscrição Estadual: 99.999.99-9 / Endereço Rua Dos Bobos, nº 0 - Westeros, SP - 99999-999
    </div>
  </div>
</footer>