<footer>
  <div id="footerFirstSection">
    <div id="footerColumn"></div>
    <div id="footerColumn"></div>
    <div id="footerColumn"></div>
    <div id="footerColumn"></div>
  </div>
  <div id="footerSecondSection">

  </div>
</footer>