<header>
    <div id="headerFirstSection" class="menu">
      <div id="logo"></div>
      <div id="searchBar">
        <form action="" method="GET" id="searchBarForm">
            <input type="text" name="search" id="searchBarArea" placeholder="Pesquise aqui por marcas, produtos, categorias...">
            <button type="submit" id="searchButton"></button>
        </form>
      </div>
      <div id="login">
        <div id="userEmptyPhoto"></div>
        <div id="profileSection">
          <div id="userGreeting">Olá, Faça login</div>
          <div id="accountAccess">ou cadastre-se</div>
        </div>
      </div>
      <div id="cart">
        <div id="cartCounter">0</div>
        <div id="cartButtonHolder">
          <div id="cartButton1">itens no seu</div>
          <div id="cartButton2">carrinho</div>
        </div>
      </div>
    </div>
    <div id="headerSecondSection" class="menu">
      <div id="secondSectionLeftSide">
        <div id="locationPin"></div>
        <div class="secondMenuButton">Informe seu CEP</div>
      </div>
      <div id="secondSectionRightSide" class="menu">
        <div class="secondMenuButton">Social</div>
        <div class="secondMenuButton">Parcerias</div>
        <div class="secondMenuButton">Empresarial</div>
      </div>
    </div>
    <div id="headerThirdSection" class="menu">
      <div id="thirdSectionLeftSide" class="menu">
        <div class="thirdMenuButton">Cães</div>
        <div class="thirdMenuButton">Gatos</div>
        <div class="thirdMenuButton">Pássaros</div>
      </div>
      <div id="thirdSectionRightSide">
        <div class="thirdMenuButton">Itens em SUPER-OFERTA!</div>
      </div>
    </div>
  </header>