<header>
    <div id="headerFirstSection" class="menu">
      <div id="logo">Pet Store</div>
      <div id="searchBar">
        <form action="" method="GET" id="searchBarForm">
            <input type="text" name="search" id="searchBarArea" placeholder="Pesquise aqui por marcas, produtos, categorias...">
            <button type="submit" id="searchButton"></button>
        </form>
      </div>
      <div id="login">
        <button type="submit" id="loginButton">Log In</button>
      </div>
      <div id="cart">
        <button type="submit" id="cartButton">Carrinho</button>
      </div>
    </div>
    <div id="headerSecondSection" class="menu">
      <div id="secondSectionLeftSide">
        <div class="menuButton">Localização</div>
      </div>
      <div id="secondSectionRightSide" class="menu">
        <div class="menuButton">Option 1</div>
        <div class="menuButton">Option 2</div>
        <div class="menuButton">Option 3</div>
      </div>
    </div>
    <div id="headerThirdSection" class="menu">
      <div id="thirdSectionLeftSide" class="menu">
        <div class="menuButton">Option 1</div>
        <div class="menuButton">Option 2</div>
        <div class="menuButton">Option 3</div>
      </div>
      <div id="thirdSectionRightSide">
        <div class="menuButton">PROMOÇÃO</div>
      </div>
    </div>
  </header>