<header>
    <div id="headerFirstSection" class="menu">
      <div id="logo"></div>
      <div id="searchBar">
        <form action="" method="GET" id="searchBarForm">
            <input type="text" name="search" id="searchBarArea" placeholder="Digite aqui o que procura...">
            <button type="submit" id="searchButton"></button>
        </form>
      </div>
      <div id="infoHolder">
        <div id="login">
          <div id="userPhoto"></div>
          <div id="profileSection">
            <div id="userGreeting">Olá, Ernesto!</div>
            <div id="accountAccess">Acesse sua conta</div>
          </div>
        </div>
        <div id="cart">
          <div class="cartIcon" id="favoritesIcon"></div>
          <div class="cartIcon" id="notificationIcon"></div>
          <div class="cartIcon" id="cartIcon"></div>
        </div>
      </div>
    </div>
    <div id="headerSecondSection" class="menu">
      <div id="secondSectionLeftSide">
        <div id="locationPin"></div>
        <div class="secondMenuButton">Informe seu CEP</div>
      </div>
      <div id="secondSectionRightSide" class="menu">
        <div class="secondMenuButton">Social</div>
        <div class="secondMenuButton">Parcerias</div>
        <div class="secondMenuButton">Empresarial</div>
      </div>
    </div>
    <div id="headerThirdSection" class="menu">
      <div id="thirdSectionLeftSide" class="menu">
        <div class="thirdMenuButton">Cães</div>
        <div class="thirdMenuButton">Gatos</div>
        <div class="thirdMenuButton">Pássaros</div>
        <div class="thirdMenuButton">Outros</div>
      </div>
      <div id="thirdSectionRightSide">
        <div class="thirdMenuButton">OFERTA RELÂMPAGO!</div>
      </div>
    </div>
  </header>